doctype html
html(lang="en")
  head
    title Passport
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") Home
      a(href="/login") Login
      a(href="/register") Register
    block content
    footer
      p &copy; 2025 Passport